.topsection {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}



#cat1 {
	text-align: center;

}
.tiger {
	width: 50%;

}

.tiger1 {
	width: 50%;

}

.count {
	font-size: 25px;
}

.count1 {
	font-size:25px;
}


li {
	list-style: none;
}



