.topsection {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}

.main {
	display: inline-block;
	position: relative;
}

.tiger {
	width: 50%;
	padding-right: 2em;

}

.tiger1 {
	width: 50%;
	padding-right: 2em;
	float: right;

}

p {
	width: 50%;
	font-size: 2em;
	font-weight: bold;
}

.counterBox {
	width: 150px;
	height: 125px;
	border-width: 10px;
	font-size: 80px;
	text-align: center;
	background-color: #848482;
	margin-left: 150px;

}



